<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectdruwa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="DRUWA"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectDRUWA">
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RoundingCreate" android:label="두번째회면"/>
        <activity android:name=".ProfileEdit" android:label="프로필편집" />
        <activity android:name=".MainActivity"/>
    </application>

</manifest>